footer{
  text-align: center;
  background-color: pink;

    nav{
      display: inline-block;
    }

    ul{
      text-decoration: none;
      margin: 10px;
      text-align: left;
      list-style: none;
      padding: 5px;
    }

    a{
      text-decoration: none;
    }
}
